<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <header class="navbar navbar-default">
    <div>
      <a class="navbar-brand">Welcome to your Dashboard</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li><%= link_to 'My Account', edit_user_registration_path, :class => 'btn btn-dark navbar-btn' %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, :class => 'btn btn-dark navbar-btn' %></li>
        <% else %>
            <li><%= link_to 'Sign In', new_user_session_path, :class => 'btn btn-dark navbar-btn' %></li>
            <li><%= link_to 'Register', new_user_registration_path, :class => 'btn btn-dark navbar-btn' %></li>
        <% end %>
      </ul>
    </div>
  </header>


  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <button><%= link_to 'Create Event', new_event_path %></button>
      </div>
    </div>
  </div>
</body>
</html>
